<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{path('homepage')}}">Tp1</a>
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarColor01" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{path('homepage')}}">Accueil</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{path('articles_liste')}}">Article</a>
                </li>
                
                 <li class="nav-item ">
                    <a class="nav-link" href="{{path('tab_articles')}}">tableau des articles </a>
                </li>
                 
            </ul>
        </div>
    </nav>