{% extends 'base.html.twig' %}

{% block title %}Bienvenue {% endblock %}

{% block header %}
{% endblock %}


{% block body %}
<div class="container mt-3">
    <div class="jumbotron">
        <h1 class="display-3">Bienvenue sur mon premier site en Symfony !!!</h1>
        <p class="lead">Nous mettons içi tout les articles que nous vendons quelque que soit la catégorie, alors faites un tour et enjoy mééééénééééé !!!</p>
        <hr class="my-4">
    </div>
</div>
{% endblock %}